In [2]:
%pylab inline
import pandas as pd
import numpy as np
import seaborn as sns
import re
from collections import Counter
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.decomposition import NMF
from sklearn.decomposition.online_lda import LatentDirichletAllocation
import string
from sklearn.pipeline import Pipeline

Populating the interactive namespace from numpy and matplotlib

In [3]:
user = pd.read_csv('csv/new_user.csv')
business = pd.read_csv('csv/new_business.csv')
review = pd.read_csv('csv/restaurant_review.csv')
tip = pd.read_csv('csv/tip.csv')
top_restaurant = pd.read_csv('csv/high_reviews_restaurant.csv')

/Users/Charlotte/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (2,5,8,18,27,30,50,61,63,79,86,94) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/Charlotte/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (0,1,2,3,5,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
review.tail(2)

,Unnamed: 0,user_id,review_id,text,votes_cool,business_id,votes_funny,stars,date,votes_useful
3873428,2685064,nELVJlkX8T0mUAArSPSJxw,vwmqHxxmy9rEAwhbkLXmnQ,he stood in the face of a 25 star biz and brav...,4.0,DH2Ujt_hwcMBIz8VvCb0Lg,5.0,3.0,2016-04-30,4.0
3873429,2685065,maAimqEE4G483rtifPKlYg,DDmiTM_jMhshjYkXk5Sshg,2 pm monday afternoon out of sour cream ridicu...,0.0,DH2Ujt_hwcMBIz8VvCb0Lg,0.0,1.0,2016-07-11,0.0

In [5]:
len(review)

3873430

In [ ]:
# Counter(review.business_id)

In [ ]:
# Counter(review['business_id'])
# review_count = Counter(review['business_id'])

In [ ]:
review_count

In [ ]:
print(1)

In [ ]:
# review_count = Counter(review['business_id']) # number of unique restaurants
# print(len(review_count))
# top_restaurant = [(k,v)for k,v in review_count.items() if v > 300]#number of restaurants that have more than 300 reviews
# sorted_by_count = sorted(top_restaurant, key=lambda tup: tup[1])
# sorted_by_count[-5:]

In [3]:
def categorize_reviews(business_id):
    business_index = restaurant_review['business_id'] == business_id # get the business index
    one_restaurant = restaurant_review[business_index]
    good = one_restaurant.ix[one_restaurant['stars'] > 3.5]
    bad = one_restaurant.ix[one_restaurant['stars'] <= 3.5]
    good = good.reset_index()
    bad = bad.reset_index()
    return good.text,bad.text

In [4]:
def lda_tm(x):
    tfidf = TfidfVectorizer(stop_words='english')
    x = tfidf.fit_transform(x)
    lda = LatentDirichletAllocation(n_topics=15,
                                max_iter=5,
                                learning_method='online',
                                learning_offset=50.)
    terms = tfidf.get_feature_names()
    lda.fit(x)
    C = lda.components_
    for topic,term in enumerate(C):
        top_indices = np.argsort(C)[topic][::-1][:10]
        term_ranking = [terms[i] for i in top_indices]
        print("Topic {}: {}".format(topic+1, ", ".join(term_ranking)))

In [5]:
def nmf_tm(x):
    tfidf = TfidfVectorizer(stop_words='english')
    x = tfidf.fit_transform(x)
    nmf = NMF(init="nndsvd",
            n_components=15,
            max_iter=200)
    terms = tfidf.get_feature_names()
    nmf.fit(x)
    W = nmf.fit_transform(x)
    H = nmf.components_
    for topic,term in enumerate(H):
        top_indices = np.argsort(H)[topic][::-1][:10]
        term_ranking = [terms[i] for i in top_indices]
        print("Topic {}: {}".format(topic+1, ", ".join(term_ranking)))

In [13]:
len(review)

3873430

In [6]:
top_restaurant.head(2)

   Unnamed: 0             business_id  review_count
0           0  FY_OXEVcewAQFZuu6fynLA           301
1           1  7WGBi29_vj_7RcPVxpLNHA           301

In [ ]:
rating_matrix = np.zeros( shape )

In [ ]:
self.SVD_matrix = np.zeros(shape = (944, 1683), dtype = np.float32)
def modifyRatingsDataset(self): 
        ''' Assign rating values to a matrix (userid, movieid ) '''
        for index, row in self.ratings.iterrows():
            self.SVD_matrix[ int(row[0]) , int(row[1])] = float(row[2])
        return csc_matrix(self.SVD_matrix, dtype=np.float32),self.SVD_matrix